*.venv
model_results.json
*.pt
*.__pycache__
*.idea
*.rar
*.h5
*.mp4
*.webm
*.png
*.jpg
test.py
*.ts

# Virtual environment
.venv/
env/
videos
output
output_videos

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# IDE / Editor configs
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.env
*.json
# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

